doctype xml
package(version='3.0' unique-identifier='BookId' xmlns='http://www.idpf.org/2007/opf')
    metadata(xmlns:dc='http://purl.org/dc/elements/1.1/')
        dc:identifier#BookId= uuid
        dc:title#main= title
        meta(refines='#main' property='title-type') main
        if subtitle
            dc:title#subtitle= subtitle
            meta(refines='#subtitle' property='title-type') subtitle
        dc:language ru
        dc:date= isoDate
        dc:description= annotation
        each author, index in authors
            if index === 0
                dc:creator#author= author.name
                meta(refines='#author' property='role' scheme='marc:relators') aut
            else
                dc:creator= author.name
        if cover
            meta(name='cover' content='CoverImage')
        meta(property='dcterms:modified') !{isoDate}
    manifest
        if cover
            item#CoverImage(href='images/'+cover.id+cover.ext media-type=cover.mime properties='cover-image')
        each bin in images
            if cover != bin
                item(id=bin.id media-type=bin.mime href='images/'+bin.id+bin.ext)
        item#ncx(href='toc.ncx' media-type='application/x-dtbncx+xml')
        item#nav(href='nav.xhtml' media-type='application/xhtml+xml' properties='nav')
        each chapter in chapters
            item(id=chapter.id href=chapter.id+'.xhtml' media-type='application/xhtml+xml')
    spine(toc='ncx')
        itemref(idref='nav')
        each chapter in chapters
            itemref(idref=chapter.id)
